*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1{
    color: rgb(79 70 229 );
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
}

h2{
    margin: 0;
    color: black;
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
}

h3{
    font-size: 3.6rem;
    margin: 0;
    font-weight: 800;
    text-align: center;
    color: rgb(79 70 229 )
}

h4{
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.search-container{
    max-width: 30rem;
    width: 70%;
    border-radius: 16px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    box-shadow: 4px 4px 4px #f7f7f7;
    background-color: #f7f7f7;
    padding-left: 1rem;
    border-radius: 16px;
}

.search:hover{
    box-shadow: 2px 2px 8px lightgrey;
}

#channels-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0;
}

#channels-container a{
    color: black;
    text-decoration: none;
    padding: 0.4rem;
    border-radius: 4px;
}
#channels-container a:hover{
    background-color: lightgray;
}

.search #search-input{
    padding: 0;
    width: calc(100% - 4rem);
    border: none;
    font-size: 1.6rem;
    background-color: transparent;
}

.search #search-button{
    background-image: url("./../assets/icons/search.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 4rem;
    height: 2rem;
}

.search #search-button:hover{
    cursor: pointer;
}

.search #search-input:focus{
    outline: none;
}

.data{
    height: 50vh;
    max-height: 20rem;
    padding: 1rem;
}

.banner-container{
    width: 100%;
    height: 50vh;
    max-height: 20rem;
}

.banner-container #banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#description{
    font-size: 1.4rem;
    text-align: center;
    color: black;
    font-weight: 300;
    margin: 2.4rem 0;
}

#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .8rem;
    min-height: 5rem;
    height: min-content;
}

#content img{
    border-radius: 8px;
}

#content > a{
    text-decoration: none;
    color: black;
    width: min-content;
    padding: .8rem;
    border-radius: 16px;
}
#content > a > p{
    margin: 0;
}
#content > a:hover{
    background-color: #f0efef;
}